<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/common.css">
    <title>Profile Page</title>
</head>

<body>
    <div id="loader" class="center"></div>
    <header></header>
    <img class="background" src="../img/bg/profile bg.jpg" alt="bg">
    <div id="body">
        <div id="details">
            <div id="heading"><h1>Profile</h1> <i class="fas fa-user-edit" id="edit"><span> Edit</span></i></div>
            
            <table class="table" id="table">
                <tr>
                    <td class="col-sm-3  col-lg-6">
                        <h6>Name:</h6>
                    </td>
                    <td class="col-sm-9 col-lg-6">
                        <div id="name"></div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3 col-lg-6">
                        <h6>E-mail:</h6>
                    </td>
                    <td class="col-sm-9 col-lg-6">
                        <div id="email"></div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3 col-lg-6">
                        <h6>Gender:</h6>
                    </td>
                    <td class="col-sm-9 col-lg-6">
                        <div id="gender"></div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3 col-lg-6">
                        <h6>Phone Number:</h6>
                    </td>
                    <td class="col-sm-9 col-lg-6">
                        <div id="phone"></div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3 col-lg-6">
                        <h6>Age:</h6>
                    </td>
                    <td class="col-sm-9 col-lg-6">
                        <div id="age"></div>
                    </td>
                </tr>
                
                <tr>
                    <td class="col-sm-3 col-lg-6">
                        <h6>Like:</h6>
                    </td>
                    <td class="col-sm-9 col-lg-6">
                        <div id="likes"></div>
                    </td>
                </tr>
                <tr id="total">
                    <td class="col-sm-3 col-lg-6">
                        <h6>Total recipe Posted:</h6>
                    </td>
                    <td class="col-sm-9 col-lg-6">
                        <div id="totalrecipes"></div>
                    </td>
                </tr>
                                
            </table>
        </div>
    </div>
    
</body>
<script src="../js/url.js"></script>
<script src="../js/navbar.js"></script>
<script src="../js/profile.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/active.js"></script>

</html>