<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../css/recipePage.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="../css/swal/sweetalert2.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <script src="../js/swal/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <title>Recipe Page</title>
</head>

<body>
    <div id="loader" class="center"></div>
    <header></header>
    <div id="bg">
    </div>
    <div id="img"></div>
    
    <div class="ratbtn">
        <div id="title"></div>
        <div id="rate">
            <div id="stars"></div>
            <button type="button" value="Rating" id="ratbtn"><i class="fa fa-star" aria-hidden="true"></i> Rating</button>
        </div>
    </div>
    <table class="table">
        <tr id="type"></tr>
        <tr id="time"></tr>
        <tr id="names"></tr>
    </table>

    <table class="table">
        <tr>
            <td class="col-sm-3  col-lg-2">
                <h4>About:</h4>
            </td>
            <td class="col-sm-9 col-lg-10">
                <div id="about"></div>
            </td>
        </tr>
        <tr>
            <td class="col-sm-3 col-lg-2">
                <h4>Ingredients:</h4>
            </td>
            <td class="col-sm-9 col-lg-10">
                <div id="ingredients"></div>
            </td>
        </tr>
        <tr>
            <td class="col-sm-3 col-lg-2">
                <h4>Instructions:</h4>
            </td>
            <td class="col-sm-9 col-lg-10">
                <div id="instructions"></div>
            </td>
        </tr>
    </table>

    <div class="container cmd">
        <label><h5>Comments:</h5></label>
        <textarea id="cmd" cols="50" rows="3" placeholder="Leave your comments here..." type="text"></textarea>
        <label class="cmd-msg"></label>
        <button id="cmdbtn" class="hover-button button">Submit</button>
    </div>

    <div class="container center__display">
        <div class="comments__container center__display" id="comments">
        </div>
    </div>

</body>
<script src="../js/url.js"></script>
<script src="../js/navbar.js"></script>
<script src="../js/recipePage.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/active.js"></script>
</html>