<a></a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User Details</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="loader" class="center"></div>
    <header></header>
</body>
<script src="../js/url.js"></script>
<script src="../js/navbar.js"></script>
<script src="../js/signup.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/active.js"></script>
<script>updateuser();</script>
</html>