<html>

<head>
    <title>Recipe Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/navbar.css">    
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <div id="loader" class="center"></div>
</body>
<script src="../js/url.js"></script>
<script src="../js/form.js"></script>
<script>updatepage();</script>
<script src="../js/bootstrap/bootstrap.min.js"></script>
<script src="../js/active.js"></script>
</html>